<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUMB DRAW</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <link rel="stylesheet" href="{{url_for('static', path='/style.css')}}">
</head>
<body>
    <div id="canvas-container">
        <canvas id="drawing-canvas" hx-ext="ws" ws-connect="/draw"></canvas>
    </div>
    <div id="color-picker-container">
        <input type="color" id="color-picker" value="#000000">
    </div>
    <script src="{{url_for('static', path='/sockethandler.js')}}"></script>
    <script src="{{url_for('static', path='/script.js')}}"></script>
</body>
</html>
